*{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.highlighted{
    background-color: pink;
}

.header{
    font-weight: bold;
}

.editable{
    border: solid black 1px;
    padding: 1px;
}
input{
    box-sizing: border-box; 
}
